<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Query Result</title>
</head>
<body>
	<div style="width: 100%">
		<div style="text-align: center;">
			<div id="whoisinfo" class="div_whois">
				<textarea name="ipAddressList" cols="100" rows="60"
				type="text" id="ipAddressList"  size="100" url="true" >${CONTENT}</textarea> 
			</div>
		</div>
	</div>
</body>
</html>